.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


.iDevice{
    //background: #3adb76;
    padding:10px;
}
.iDevice:hover{
    background: #8e8e8e;
}
.myDevice{
    padding:10px;
}
.myDevice:hover{
    background: #992617;
}
.header{
    padding:10px;
    text-align: center;
}

.button{
    float: right;
}
.container{
    background: #8e8e8e;
    padding:10px;
}